{% extends "base.html" %}
{% block content %}
<h4>{%trans%}Admin Page{%endtrans%}</h4>

<table>
    <thead>
        <tr>
            <th></th>
            <th>{%trans%}ID{%endtrans%}</th>
            <th>{%trans%}Title{%endtrans%}</th>
            <th>{%trans%}Director{%endtrans%}</th>
            <th>{%trans%}Genre{%endtrans%}</th>
            <th>{%trans%}IMDB Rating{%endtrans%}</th>
            <th>{%trans%}Popularity{%endtrans%}</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {%for movie in full_movie_list%}
        <tr id="movie_id_{{movie[0]}}">
            <td onclick="fill_existing_values('movie_id_{{movie[0]}}')"><a href="#update_movies"
                    class="secondary-content meteor-text modal-trigger"><i class="material-icons">edit</i></a></td>
            <td>{{movie[0]}}</td>
            <td>{{movie[5]}}</td>
            <td>{{movie[2]}}</td>
            <td>{{movie[3]}}</td>
            <td>{{movie[4]}}</td>
            <td>{{movie[1]|int}}</td>
            <td><a href="" onclick="delete_movie('{{movie[0]|int}}')" class="secondary-content meteor-text"><i
                        class="material-icons">delete</i></a></td>
        </tr>
    </tbody>
    {%endfor%}
</table>
<div class="fixed-action-btn">
    <a href="#add_movies" class="btn-floating btn-large red modal-trigger">
        <i class="large material-icons">add</i>
    </a>
</div>

<!-- add movies Structure -->
<div id="add_movies" class="modal">
    <div class="modal-content">
        <h4>{%trans%}Add Movie{%endtrans%}</h4>
        <p>{%trans%}Please fill the following fields{%endtrans%}</p>
    </div>
    <div class="row">
        <div class="input-field col s10 offset-s1">
            <input id="movie_name" type="text" class="validate">
            <label for="movie_name">Movie Name</label>
        </div>
        <div class="input-field col s10 offset-s1">
            <input id="director" type="text" class="validate">
            <label for="director">Director</label>
        </div>
        <div class="input-field col s10 offset-s1">
            <input id="popularity" type="number" class="validate">
            <label for="popularity">Popularity</label>
        </div>
        <div class="input-field col s10 offset-s1">
            <input id="genres" type="text" class="validate">
            <label for="genres">Genres</label>
        </div>
        <div class="input-field col s10 offset-s1">
            <input id="imdb_score" type="number" class="validate">
            <label for="imdb_score">IMDB Rating</label>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s1">
            <button class="btn meteor waves-effect waves-light" onclick="add_movie()">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{%trans%}Close{%endtrans%}</a>
    </div>
</div>

<div id="update_movies" class="modal">
    <div class="modal-content">
        <h4>{%trans%}Add Movie{%endtrans%}</h4>
        <p>{%trans%}Please fill the following fields{%endtrans%}</p>
    </div>
    <div class="row">
        <div class="input-field col s10 offset-s1">
            <input id="update_movie_id" type="text" class="validate" disabled>
            <label for="update_movie_id">Movie ID</label>
        </div>
        <div class="input-field col s10 offset-s1">
            <input id="update_movie_name" type="text" class="validate">
            <label for="update_movie_name">Movie Name</label>
        </div>
        <div class="input-field col s10 offset-s1">
            <input id="update_director" type="text" class="validate">
            <label for="update_director">Director</label>
        </div>
        <div class="input-field col s10 offset-s1">
            <input id="update_popularity" type="number" class="validate">
            <label for="update_popularity">Popularity</label>
        </div>
        <div class="input-field col s10 offset-s1">
            <input id="update_genres" type="text" class="validate">
            <label for="update_genres">Genres</label>
        </div>
        <div class="input-field col s10 offset-s1">
            <input id="update_imdb_score" type="number" class="validate">
            <label for="update_imdb_score">IMDB Rating</label>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s1">
            <button class="btn meteor waves-effect waves-light" onclick="update_movie()">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{%trans%}Close{%endtrans%}</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function delete_movie(id) {
        var delete_confirmation = confirm("Are you sure you want to delete?");
        if (delete_confirmation) {
            url = '/manage/delete/' + id
            type = 'DELETE'
            data = { 'id': id }
            success = function () {
                M.toast({
                    html: 'Deleted Succesfully', completeCallback: function () {
                        location.reload();
                    }
                })
            }
            error = function () {
                M.toast({
                    html: 'Something went wrong. Please try again after some time.', completeCallback: function () {
                        location.reload();
                    }
                })
            }
            // success, error functions passed into function to run after hitapi
            hitApi(url, type, data, success, error)
        }

    }

    function add_movie() {
        var url = '/manage/add'
        var movie_name = document.getElementById('movie_name').value;
        var director = document.getElementById('director').value;
        var popularity = document.getElementById('popularity').value;
        var genres = document.getElementById('genres').value;
        var imdb_score = document.getElementById('imdb_score').value;
        if (movie_name != '' && director != '' && popularity != '' && genres != '' && imdb_score != '') {
            var data = {
                'movie_name': movie_name,
                'director': director,
                'popularity': popularity,
                'genres': genres,
                'imdb_score': imdb_score
            }
            var type = 'POST'
            var success = function () {
                M.toast({
                    html: 'Movie Added Succesfully', completeCallback: function () {
                        location.reload();
                    }
                })
            }
            var error = function () {
                M.toast({
                    html: 'Something went wrong. Please try again after some time.', completeCallback: function () {
                    }
                })
            }
            // success, error functions passed into function to run after hitapi
            hitApi(url, type, data, success, error);
        }
        else {
            if (popularity != '' || imdb_score != '') {
                M.toast({
                    html: 'Invalid Values for popularity/IMDB rating', completeCallback: function () {
                    }
                })
            }
            else {
                M.toast({
                    html: 'Empty values are not allowed!', completeCallback: function () {
                    }
                })
            }
        }
    }

    function fill_existing_values(id) {
        console.log('filled existing values for ' + id)
        var update_movie_id = document.getElementById('update_movie_id')
        var update_movie_name = document.getElementById('update_movie_name')
        var update_director = document.getElementById('update_director')
        var update_popularity = document.getElementById('update_popularity')
        var update_genres = document.getElementById('update_genres')
        var update_imdb_score = document.getElementById('update_imdb_score')
        var movie_tb_row = document.getElementById(id)
        var row_children = movie_tb_row.children
        update_movie_id.value = row_children[1].innerHTML
        update_movie_name.value = row_children[2].innerHTML
        update_director.value = row_children[3].innerHTML
        update_popularity.value = row_children[6].innerHTML
        update_genres.value = row_children[4].innerHTML
        update_imdb_score.value = row_children[5].innerHTML
        M.updateTextFields();
    }

    function update_movie() {
        var url = '/manage/update'
        var update_movie_id = document.getElementById('update_movie_id').value;
        var update_movie_name = document.getElementById('update_movie_name').value;
        var update_director = document.getElementById('update_director').value;
        var update_popularity = document.getElementById('update_popularity').value;
        var update_genres = document.getElementById('update_genres').value;
        var update_imdb_score = document.getElementById('update_imdb_score').value;
        if (update_movie_name != '' && update_director != '' && update_popularity != '' && update_genres != '' && update_imdb_score != '') {
            var data = {
                'id': update_movie_id,
                'movie_name': update_movie_name,
                'director': update_director,
                'popularity': update_popularity,
                'genres': update_genres,
                'imdb_score': update_imdb_score
            }
            var type = 'POST'
            var success = function () {
                M.toast({
                    html: 'Movie Updated Succesfully', completeCallback: function () {
                        location.reload();
                    }
                })
            }
            var error = function () {
                M.toast({
                    html: 'Something went wrong. Please try again after some time.', completeCallback: function () {
                    }
                })
            }
            // success, error functions passed into function to run after hitapi
            hitApi(url, type, data, success, error);
        }
        else {
            if (update_popularity != '' || update_imdb_score != '') {
                M.toast({
                    html: 'Invalid Values for popularity/IMDB rating', completeCallback: function () {
                    }
                })
            }
            else {
                M.toast({
                    html: 'Empty values are not allowed!', completeCallback: function () {
                    }
                })
            }
        }
    }

</script>
{% endblock %}